# rastervision_pipeline==0.14.0
git+https://github.com/215023375/raster-vision.git@mainline#egg=rastervision_pipeline&subdirectory=rastervision_pipeline
# rastervision_core==0.14.0
git+https://github.com/215023375/raster-vision.git@mainline#egg=rastervision_core&subdirectory=rastervision_core
# rastervision_pytorch_learner==0.14.0
git+https://github.com/215023375/raster-vision.git@mainline#egg=rastervision_pytorch_learner&subdirectory=rastervision_pytorch_learner
# rastervision_aws_s3==0.14.0
git+https://github.com/215023375/raster-vision.git@mainline#egg=rastervision_aws_s3&subdirectory=rastervision_aws_s3
